<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Page not found!</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/style.css">

</head>
<body>
<header>
    <!--   <h1  class="header-logo">Roots</h1>
  <!--  <h2 class= "header-signIn">Sign In</h2> -->
    <a href="login.html" class="header-logo">
        <em>Roots</em>
    </a>
    <div class="search">
        <form>
            <input type="text" placeholder="Search...">
            <input type="button" value="Search">
        </form>
    </div>

    <nav>
        <ul>
            <li><a href="mailto:rootsspammer@gmail.com">Contact Us</a></li>
            <li><a href="about.html"> About </a></li>

        </ul>
    </nav>

</header>
<h1>404 Page not found!</h1>
<img src="images/404.jpg" alt="HTML5 Icon" width="600" height="640">

</body>
</html>
