<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Page not found!</title>
    <link href='https://fonts.googleapis.com/css?family=Andada' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:500italic,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/style.css">

</head>
<body>
<header>

    <a href="login.html" class="header-logo">
        <img id="logo-img" src="images/logo.png">
    </a>
    <!--    <div class="search">
            <form>
                <input type="text" placeholder="Search...">
                <input type="button" value="Search">
            </form>
        </div>-->
</header>
<div class="pageNotFound">
    <h1>404 Page not found!</h1>
    <img src="images/404.jpg" alt="HTML5 Icon" width="600" height="640">
</div>


<footer>
    <nav>
        <ul>
            <li><a href="mailto:rootsspammer@gmail.com">Contact</a></li>
            <li><a href="about.html"> About </a></li>
        </ul>
    </nav>
</footer>
</body>
</html>