<!DOCTYPE html>
<html lang="en" ng-app="">

<head>
    <meta charset="UTF-8">
    <title>Personal Profile</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <header>
        <a href="login.html" class="header-logo">
            <em>Roots</em>
        </a>
        <div class="search">
            <form>
                <input type="search" name="treeSearch" placeholder="Search..." value="{{treeSearch}}">
            </form>
        </div>

        <nav>
            <ul>
                <li><a href="treeViewer.html">Tree Viewer</a></li>
                <li><a href="mailto:rootsspammer@gmail.com">Contact</a></li>
                <li><a href="about.html"> About </a></li>

            </ul>
        </nav>
    </header>

    <div class="form">
        <div id="Profile Info">
            <h1>Account Info</h1>
            <form action="{{action}}" method="post">

                <div class="top-row">
                    <h2>Date of Birth</h2>
                    <div class="field-wrap">
                        <label><span class="req"></span></label>
                        <input name='dateOfBirth' placeholder="mm/dd/yyyy" type="date" value='{{dateOfBirth}}' required autocomplete="off"/>
                    </div>

                    <div class="field-wrap">
                        <label><span class="req"></span></label>
                        <select name='gender' required>
                            <option value="{{gender}}" disabled selected>{{^gender}}Gender{{/gender}}{{gender}}</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Transgender">Transgender</option>
                            <option value="Prefer No Label">Prefer No Label</option>
                            <option value="Prefer Different Label">Prefer Different Label</option>
                            <option value="Prefer Not to Disclose">Prefer Not to Disclose</option>
                        </select>
                    </div>
                </div>

                <div class="field-wrap">
                    <label>Birth City<span class="req"></span></label>
                    <input name='birthCity' type="text" maxlength="64" value="{{birthCity}}" required autocomplete="off" />
                </div>

                <div class="field-wrap">
                    <label>Birth State<span class="req"></span></label>
                    <input name='birthState' type="text" maxlength="64" value="{{birthState}}" required autocomplete="off" />
                </div>

                <div class="field-wrap">
                    <label>Birth Country<span class="req"></span> </label>
                    <input name='birthCountry' type="text" maxlength="128" value="{{birthCountry}}" required autocomplete="off" />
                </div>

                <h2>Short Personal Biography</h2>
                <div class="field-wrap">
                    <textarea id="personalbio" onkeyup="counter(this, this.maxLength)" maxlength="5000" class="textareaclass" rows="4">{{personalbio}}</textarea>
                    <div align="right" id="num">5000 characters remaining</div>
                </div>
                <script>
                    function counter(txtarea, l){
                        var len = $(txtarea).val().length;
                        if (len <= l) $('#num').text((l - len) + ' characters remaining');
                    }
                </script>

                <button type="submit" class="button button-block"/>Save</button>
            </form>
        </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="js/login.js"></script>
</body>

</html>
