
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>


<h1>Please enter your new password:</h1>
<div>
    <form method="post" action="/newPasswordConfirm">
        <label>New Password:<span>*</span></label>
        <input name="newPassword" type="password">
        <input name="email" type="hidden" value="{{email}}">
        <button type="submit">Submit</button>
    </form>
</div>
</body></html>