<html>
<head>
    <title>My Family Circle</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/treeStyles.css">
    <script type="text/javascript" src="http://static.fusioncharts.com/code/latest/fusioncharts.js"></script>
    <script type="text/javascript" src="http://static.fusioncharts.com/code/latest/themes/fusioncharts.theme.fint.js?cacheBust=56"></script>
        <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>


    <script type="text/javascript">
        FusionCharts.ready(function(){
            d3.json("/getParliamentData", function (error, treeData) {
                var fusioncharts = new FusionCharts(treeData);
                fusioncharts.render();
            });
        });
    </script>
</head>

<body>
<header>
    <a href="/" class="header-logo">
        <img id="logo-img" src="images/logo.png">
    </a>

    <div class="dropdown">
        <input class="hamburger" type="image" src="images/hamburger.png" onclick="myFunction()">
        <div class="dropdown-content" id="Dropdown">
            <a href="/map">Roots World Map</a>
            <a href="/logout">Log Out</a>
            <a href="mailto:rootsspammer@gmail.com">Contact Us</a>
            <a href="/about">About</a>
        </div>
    </div>

    <script>
        function myFunction() {
            document.getElementById("Dropdown").classList.toggle("show");
        }
        window.onclick = function (e) {
            if (!e.target.matches('.hamburger')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                for (var d = 0; d < dropdowns.length; d++) {
                    var openDropdown = dropdowns[d];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</header>

<div id="chart-container">Ancestor Info!</div>

<div id="map_toggle">
    <a href="/treeViewer" >
        <img class="map_img" src="images/treeicon.png">
    </a>
    <a href="/map">
        <img class="map_img" src="images/mapicon.png" >
    </a>
</div>
</body>
</html>