<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign-Up/Login Form</title>
    <link href='https://fonts.googleapis.com/css?family=Andada' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:500italic,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/treeStyles.css">
</head>

<body>
<header>
    <a href="/" class="header-logo">
        <img id="logo-img" src="images/logo.png">
    </a>

    <div class="dropdown">
        <input class="hamburger" type="image" src="images/hamburger.png" onclick="myFunction()">
        <div class="dropdown-content" id="Dropdown">
            <a href="mailto:rootsspammer@gmail.com">Contact Us</a>
            <a href="/about">About</a>
            <a href="/logout">Log Out</a>
        </div>
    </div>

    <script>
        function myFunction() {
            document.getElementById("Dropdown").classList.toggle("show");
        }
        window.onclick = function(e) {
            if (!e.target.matches('.hamburger')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                for (var d = 0; d < dropdowns.length; d++) {
                    var openDropdown = dropdowns[d];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</header>

<div class="form">
    <%= error %>
    <ul class="tab-group">
        <li class="tab active"><a href="#login">Log In</a></li>
        <li class="tab"><a href="#signup">Sign Up</a></li>
    </ul>

    <div class="tab-content">

        <div id="login">
            <h1>Welcome Back!</h1>

            <form action="/userLogin" method="post">

                <div class="field-wrap">
                    <label>
                        Email Address<span class="req">*</span>
                    </label>
                    <input name='email' type="email" required autocomplete="off" maxlength="256"/>
                </div>

                <div class="field-wrap">
                    <label>
                        Password<span class="req">*</span>
                    </label>
                    <input name='password' type="password" required autocomplete="off" maxlength="32"/>
                </div>

                <p class="forgot"><a href="/renderPasswordReset">Forgot Password?</a></p>

                <button class="button button-block"> Log In</button>

            </form>

        </div>

        <div id="signup">
            <h1>Sign Up for Free</h1>

            <form action="/userSignup" name="signup" method="post">
                <div class="top-row">
                    <div class="field-wrap">
                        <label>
                            First Name<span class="req">*</span>
                        </label>

                        <input name='firstName' type="text" required autocomplete="off"/>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Last Name<span class="req">*</span>
                        </label>
                        <input name='lastName' type="text" required autocomplete="off" maxlength="256"/>
                    </div>
                </div>

                <div class="field-wrap">
                    <label>
                        Email Address<span class="req">*</span>
                    </label>
                    <input name='email' type="email" required autocomplete="off" maxlength="256"/>
                </div>

                <div class="field-wrap">
                    <label>
                        Set A Password<span class="req">*</span>
                    </label>
                    <input name='password' type="password" required autocomplete="off" maxlength="128"/>
                </div>
                <div class="field-wrap">
                    <label>
                        Confirm Password<span class="req">*</span>
                    </label>
                    <input type="password" name="passwordconfirm" required autocomplete="off" maxlength="128"/>
                </div>

                <button type="submit" class="button button-block" onclick="checksignup()" >Get Started</button>

            </form>
            <!--Script for verifying the password boxes match and are equal, and that a password exists-->
            <script type="text/javascript">
                function checksignup() {
                    var signupform = document.forms["signup"];
//                        var pwregex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,128}$/;
                    var pwregex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;

                    if(signupform.password.value.length < 8){
                        alert('Password must contain a minimum of 8 characters.');
                        signupform.password.value = "";
                        signupform.passwordconfirm.value = "";
                        signupform.password.focus();
                        return false;
                    }
                    if (signupform.password.value != signupform.passwordconfirm.value) {
                        alert('Passwords do not match.');
                        signupform.password.value = "";
                        signupform.passwordconfirm.value = "";
                        signupform.password.focus();
                        return false;
                    }
                    if (signupform.firstName.length > 256) {
                        alert('First name is too long.');
                        signupform.firstName.value = "";
                        signupform.firstName.focus();
                        return false;
                    }
                    if (signupform.lastName.value.length > 256) {
                        alert('Last name is too long.');
                        signupform.lastName.value = "";
                        signupform.lastName.focus();
                        return false;
                    }
                    if (!signupform.password.value.search(pwregex)) {
                        alert('Password must be between 8 and 128 characters, with one each of a lower and upper case character, a special character and a number.');
                        signupform.password.value = "";
                        signupform.passwordconfirm.value = "";
                        signupform.password.focus();
                        return false;
                    }
//                        else {
//                            return true;
//                        }
                    return true;
                }
            </script>
        </div>

    </div>
    <!-- tab-content -->

</div>
<!-- /form -->

<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="js/login.js"></script>

</body>
</html>