<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Personal Profile</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/style.css"> </head>

<body>

    <header>
        <a href="login.html" class="header-logo">
            <em>Roots</em>
        </a>
        <nav>
            <ul>
                <li><a href="mailto:rootsspammer@gmail.com">Contact</a></li>
                <li><a href="about.html"> About </a></li>
            </ul>
        </nav>
    </header>

    <div class="form">
        <div id="Profile Info">
            <h1>Let us help you get back to your roots</h1>
            <form action="/resetEmailSent" method="post">

                <h2>Enter the email address connected to your account:</h2>
                <div class="field-wrap">
                    <label>Email<span class="req">*</span> </label>
                    <input name='emailReset' type="text" required autocomplete="off" />
                </div>
                <button type="submit" class="button button-block" /> Reset Password</button>
            </form>
        </div>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="js/login.js"></script>
</body>

</html>
