<!DOCTYPE html>
<html lang="en" ng-app="treeViewer">
<head>
    <meta charset="UTF-8">
    <title>Tree Viewer</title>
    <link href='https://fonts.googleapis.com/css?family=Andada' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:500italic,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/treeStyles.css">
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="../assets/js/lodash.min.js"></script>
    <script src="../assets/js/dTree.min.js"></script>

    <style>
        .linage {
            fill: none;
            stroke: black;
        }

        .marriage {
            fill: none;
            stroke: black;
        }

        .node {
            background-color: lightblue;
            border-style: solid;
            border-width: 1px;
        }

        .nodeText {
            font: 10px sans-serif;
        }
    </style>

</head>

<body>
<header>
    <a href="/" class="header-logo">
        <img id="logo-img" src="images/logo.png">
    </a>

<!--
    <div class="search">
        <form>
            <input type="search" name="treeSearch" placeholder="Search..." value={{treeSearch}}>
        </form>
    </div>

    <nav>
        <ul>
            <li><a href="/acountInfo">Account Info</a></li>
        </ul>
    </nav>
-->

    <div class="dropdown">
        <button onclick ="myFunction()"  class="hamburger hamburger--spring">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </button>
        <div class="dropdown-content" id="Dropdown">
            <a href="/acountInfo">Account Info</a>
            <a href="mailto:rootsspammer@gmail.com">Contact Us</a>
            <a href="/about">About</a>
            <a href="/logout">Log Out</a>
        </div>
    </div>

    <script>
        function myFunction() {
            document.getElementById("Dropdown").classList.toggle("show");
        }
        window.onclick = function(e) {
            if (!e.target.matches('.hamburger')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                for (var d = 0; d < dropdowns.length; d++) {
                    var openDropdown = dropdowns[d];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</header>

<div class="window">
    <div class="sidebar">
        <div id="Profile Info">

            <figure class="profilePhoto"></figure>

            <form action="/updateProfile" method="post" ng-controller="nodeTreeController">
                <div ng-repeat="x in node">
                    <div>
                        <label>Name: </label>
                        <p>{{x.first_name}} {{x.last_name}}</p>
                    </div>
                    <div>
                        <label>Gender: </label>
                        <p>{{x.gender}}</p>
                    </div>
                    <div>
                        <label>Date of Birth: </label>
                        <p>{{x.date_of_birth}}</p>
                    </div>

                    <div>
                        <label>Place of Birth: </label>
                        <p>{{x.municipality_of_birth}}, {{x.state_of_birth}}</p>
                    </div>

                    <div>
                        <label>Bio: </label>
                        <p>{{x.bio}}</p>
                    </div>
                </div>

                <input class="profileButton" type="image" src="images/AddIcon.png" alt="Add">
                <input class="profileButton" type="image" src="images/EditIcon.png" alt="Edit">
                <input class="profileButton" type="image" src="images/DeleteIcon.png" alt="Delete">
            </form>
        </div>
    </div>

    <div class="tree_node" ng-controller="nodeProfileController">
        <img class="" src="images/potter.jpg">
        <p> {{node.firstName}} {{node.lastName}} </p>
        <p> {{node.dateOfBirth}} {{node.death}} </p>
    </div>

    <div id="graph"></div>
    <script>
        treeJson = d3.json("data.json", function (error, treeData) {
            dTree.init(treeData, {});
        });
    </script>

    <div id="map_toggle">
        <a href="/" class="">
            <img class="map_img" src="images/AddIcon.png">
        </a>
    </div>

    <div class="treeWindow">
        <!--<p>-->
        <!--<svg ng-attr-height="{{graph.height}}" ng-attr-widgth={{graph.width}}">-->
        <!--<g>-->
        <!--<rect ng-repeat="rect in node"-->
        <!--ng-attr-rx="{{rectangle.x}}"-->
        <!--ng-attr-ry="{{rectangle.y}}">-->
        <!--<text>{{node.firstName}} {{node.middleName}} {{node.lastName}}</text>-->
        <!--</rect>-->
        <!--</g>-->
        <!--</p>-->
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="js/login.js"></script>

<script>

    //Here is the controller that will display information of the node profile
    // Node is assumed to be the node that is selected
    // NODE IS A PLACEHOLDER, CHANGE TO THE VALUE NEEDED WITHIN THE MODULE FOR THE APP
    //
    var app = angular.module("treeViewer",[]);
    app.controller("nodeProfileController",function($scope){
        $scope.node = {};
        $scope.node.firstName = "John";
        $scope.node.middleName = "";
        $scope.node.lastName = "Doe";
        $scope.node.father = "";
        $scope.node.mother = "";
        $scope.node.dateOfBirth = "2/1/1990";
        $scope.node.death = "";
        $scope.node.gender = "Male";
        $scope.node.birthLocation = "";
        $scope.node.birthCity = "New York";
        $scope.node.birthState = "New York";
        $scope.node.deathLocation = "";
        $scope.node.bio = "He lived and then he died.";
        $scope.node.children = [""];
    });

    app.controller('nodeTreeController',function($scope, $http){
        $http.get("/populateTree").then(function (response){
            $scope.node = response.data.user;
        });
    });

</script>

</body>
</html>
