<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tree Viewer</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="../assets/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
</head>

<body>
    <header>
        <a href="/" class="header-logo">
            <em>Roots</em>
        </a>
        <link rel="stylesheet" href="styles/normalize.css">
        <link rel="stylesheet" href="styles/style.css">
        <div class="search">
            <form>
                <input type="search" name="treeSearch" placeholder="Search..." value="<%= treeSearch %>">
            </form>
        </div>

        <nav>
            <ul>
                <li><a href="mailto:rootsspammer@gmail.com">Contact</a></li>
                <li><a href="/about"> About </a></li>
            </ul>
        </nav>
    </header>

    <h1>Tree Goes here</h1>
<div ng-app="treeViewer" ng-controller="nodeProfileController">
  <p ng-include="'/populateTree'"></p>
      <ul>
        <li ng-repeat="x in node">
          Here is the information:
          {{x.first_name + ", " +  x.last_name}} and {{x.last_name}}
        </li>
      </ul>
</div>
<script>
 var app = angular.module('treeViewer',[]);
    app.controller('nodeProfileController',function($scope, $http){
      $http.get("/populateTree").then(function (response){
        $scope.node = response.data.user;
    });
 });
</script>
</body>
</html>
