<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Verify Email</title>
        <link href='https://fonts.googleapis.com/css?family=Andada' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:500italic,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="styles/normalize.css">
        <link rel="stylesheet" href="styles/style.css">
    </head>

<body>
<header>
    <a href="/" class="header-logo">
        <img id="logo-img" src="images/logo.png">
    </a>
</header>
<form action="/">
<div class="form">
    <h1>Thank you for joining</h1>
    <p>Please check your email to verify your account</p>
    <button type="submit" class="button button-block">Continue</button>
    </div>
</form>
</body>
</html>