<!DOCTYPE html>
<html>
<head>
</head>
<body>
<form action="/createProfile" method="post">
  <label>
    Last Name<span class="req">*</span>
  </label>
  <input name='lastName' type="text" required autocomplete="off"/>
  <label>
    First name<span class="req">*</span>
  </label>
  <input name='firstName' type="text" required autocomplete="off"/>
  <label>
    Middle Name
  </label>
  <input name='middleName' type="text" required autocomplete="off"/>
  <label>
    Date Of Birth
  </label>
  <input name='DateOfBirth' type="date" required autocomplete="off"/>
  <label>
    Date Of Birth
  </label>
  <label>
    Gender
  </label>
  <input name='gender' type="text" required autocomplete="off"/>
  <label>
    Bio
  </label>
  <input name='bio' type="text" required autocomplete="off"/>
  <label>
    Notes
  </label>
  <input name='notes' type="text" required autocomplete="off"/>
  <button type="submit" />
  Set Profile</button>
</form>
</body>
</html>
