*, *:before, *:after {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    /*background: #f4f1cc;*/
    font-family: 'Titillium Web', sans-serif;
    color: #403324;
    background-image: url("../images/Tree.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

a {
    text-decoration: none;
    color: #31f0bc;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

a:hover {
    color: #179b77;
}

.form {
    background: #f4f1cc;
    padding: 40px;
    max-width: 500px;
    min-width: 400px;
    margin: 75px;
    margin-left: 10%;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.tab-group li a:hover {
    background: #179b77;
    color: #ffffff;
}

.tab-group .active a {
    background: #1ab188;
    color: #ffffff;
}

.tab-content > div:last-child {
    display: none;
}

h1 {
    text-align: center;
    font-weight: 300;
    margin: 0 0 40px;
}

.header-logo {

    text-align: left;
  /*  float:left;  */
    padding-left: 150px;
    padding-top: 50px;
    font-size: 3.5em;

}

#logo-img {
    width:160px;
}


header {

    /*background:#f4f1cc;*/
    background: rgba(244, 241, 204, 0);
    /*border-bottom: 2px solid #00cc00;*/
    padding: 25px 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

footer{
    background: rgba(244, 241, 204, 0);
    padding: 25px 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

label {
    position: absolute;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color: #403324;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}

label .req {
    margin: 2px;
    color: #f16345;
}


label.active {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}

label.active .req {
    opacity: 0;
}

label.highlight {
    color: #ffffff;
}

input, textarea, select {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #403324;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus, textarea:focus {
    outline: 0;
    border-color: #1ab188;
}

textarea {
    border: 1px solid #a0b3b0;
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.top-row:after {
    content: "";
    display: table;
    clear: both;
}

.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.top-row > div:last-child {
    margin: 0;
}


.search{
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    box-shadow:10px 10px 5px #aaaaaa;;


}


.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #8ac08f;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.button:hover, .button:focus {
    background: #179b77;
}

.button-block {
    display: block;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
}

h2 {
/*    text-align: center;*/
    font-weight: 300;
    margin: 0 0 0px;
}

.profile-page-form {
    background: #f4f1cc;
    padding: 40px;
    max-width: 50%;
    margin: 50px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.profile-top-row > div{
    float: left;
    width: 30%;
    margin-right: 5%;
}

.profile-top-row > div:last-child {
    margin: 0;
}

.password-help {
    padding: 40px;
    background-color: #f4f1cc ;
    max-width: 500px;
    margin: 0 auto;
}

nav {
    float: right;
    text-align: right;
    margin-right: 2%;

}


nav ul {
    list-style: none;
    margin: 0;
    padding-top: 8px;
}


nav li {
    display: inline-block;
    padding: 0 8px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
}


nav a {
    padding: 15px 10px;
}