<h1>Welcome Back!</h1>
<form action="/userLogin" method="post">
    <div class="field-wrap">
        <label>
            Email Address<span class="req">*</span>
        </label>
        <input name='email' type="email" required autocomplete="off"/>
    </div>
    <div class="field-wrap">
        <label>
            Password<span class="req">*</span>
        </label>
        <input name='password' type="password" required autocomplete="off"/>
    </div>
    <p class="forgot"><a href="/renderPasswordReset">Forgot Password?</a></p>
    <button class="button button-block"/>
    Log In</button>
</form>